<table border="1" width="100%">
    <tbody>
      <% data.forEach(function(item){ %>
        <tr>
          <th><%=item.id%></th>
          <td><%=item.name%></td>
          <td><%=item.owner%></td>
          <td><%=item.address%></td>
          <td><%=item.phone%></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  